
#hamburger-nav {
  width: 100%;
  background: #8c78ff;
}

#hamburger-links { display: flex; }
#hamburger-links a {
  flex-grow: 1;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

#hamburger-links a:hover { transform: scale(1.2); }

#hamburger-nav label, #hamburger { display: none; }

@media screen and (max-width: 768px){
  #hamburger-links a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #8c78ff;

  }

  #hamburger-nav label { 
    display: inline-block; 
    color: white;
    background: #8c78ff;
    font-style: normal;
    font-size: 1.7em;
    padding: 10px;
  }

  #hamburger-links { display: none; }
  #hamburger-nav input:checked ~ #hamburger-links { display: block; }
}

/* hamburger from here "https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/" */

body {
  background-color: #f7f3ee;
  max-height: 830px;
  margin: 0 0 0 0;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

#dropdownMenuLink {
  background-color: transparent;
  outline: none;
  border: none;
  color: #7b64fc;
}

.dropdown-item {
  background-color: #8c78ff;
}

.dropdown-item:hover {
  background-color: #7b64fc;
  transform: none;
}


/* 
.top-nav{
  background-color: #fee0e8;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  z-index: 20;

}

.active a{
  text-decoration: underline;
}
/* want to make only the current page be underlined in menu */



/* .top-nav a {
  text-align: center;
  font-size: 2.2vw;
  padding: 5px 30px;
  color: #7b64fc;
  font-family: 'Coiny', cursive;
  text-decoration: none;
  transition: background-size 400ms;
} */

/* .top-nav a:hover {
  color: #ff9ec5;
  text-decoration: overline;
  transform: scale(1.2);
} */ 


.home-elements {
  display: flex;
  position: relative;
  background-image: url("./../assets/smallblobs.png");
  background-size: cover;
  min-width: 101vw;
  width: 110vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.7;
}


#smol-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 247, 244, .9);
  border: 1.5vmin solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #8874f8, #e0c3ea, #ff9ec5, #ff65ac, #ff4a48, #ffa22c, #ff4a48, #ff65ac, #e0c3ea, #8874f8, #2abeb3, #8874f8) 1;
	animation: 10s rotate linear infinite;
}


@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* credit to: "https://codepen.io/bramus/pen/rNWByYz" */


.welcome {
  display: flex;
  top: -20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
}


#hi, #beryl {
  top: 10px;
  position: relative;
  font-size: 9vw !important;
}

#beryl {
  padding: 20px;
  margin: 0 20px 0 20px;
}

#hi {
  position: relative;
  font-size: 5vw;
  font-family: 'Coiny', cursive;
  margin-bottom: 30px;
  color: #8874f8;
  text-align: center;
  padding-top: 20px;
}

#beryl {
  position: relative;
  margin-top: -50px;
  text-align: center;
  font-size: 5vw;
  font-family: 'Coiny', cursive;
  color: #fd96bf;
  padding: 30px;
}



/* -------------------------------------------------- */
/* ABOUT ME */


.about-first {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}




.about-header #meet {
  font-family: 'Coiny', cursive;
  color: #65b5ff;
  display: flex;
  padding-left: 20px;
  position: relative;
  left: 30px;
  font-size: 7vw;
  top: 30px;
}

.about-header h2 {
  position: relative;
  display: flex;
  padding-right: 60px; 
  padding-left: 20px; 
  font-size: 3.5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  left: 30px;
  top: 30px;
  color: #7b64fc
}

/* .pink {
  display: flex;
  position: relative;
  color: #fd96bf;
} */

.about {
  display: flex;
  align-items: stretch;
  min-width: 100vw;
  }
  
  .about p {
    top: 9vh;
  }

#headshot {
  position:relative;
  max-width: 35vw;
  left: 50px;
  top: 68px;
  object-fit: contain;
}


.about-me{
  text-align: left;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  top: 75px;
  left: 90px;
  color: #264143;
  font-size: 1.5vw;
}

#bio {
  display: inline-block;
  width: 45vw;
  right: 20px;
}

.about-me a {
  color:  #4164f4;
  text-decoration: none;
  /* font-weight: bold; */
}

.about-me a:hover {
  color: #fd96bf;
}

#beliefs {
  font-family: 'Montserrat', sans-serif;
  max-height: 40vh;
  position: relative;
  display: inline-block;
  font-size: 1.5vw;
  top: -8vh;
  left: 50vw;
  width: 40vw;
  right: 20px;
  font-weight: 500;
  color:#f7f3ee;
  border: .4vw solid #2850f1;
  background: #82b4ff;
}

#beliefs h7 {
  margin: 2.7vw;
  font-weight: 600;
}


.about-second {
  background-color: #ffbfdc;
  max-height: 400px;
}



.section-2-bg {
  display: flex;
  position: relative;
  max-width: 100vw;
}




/* -------------------------------------------------------------------------
WORK */

#card-container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  background-color: #f8f5f3;
}

.card-title {
  color: #00473e;
  text-align: center;
  font-family: 'Coiny', cursive;

}
.card-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.btn-primary {
  background-color: #f86e64;
  transform: translateX(50%);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #c2c2c2;
}

.btn-primary:hover {
  background-color: #f79b95;
  color: #702721;
}

.btn-secondary {
  background-color: #faae2b;
  transform: translateX(50%);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #c2c2c2;
}

.btn-secondary:hover {
  background-color: #f5c572;
  color: #7c5002;
}





/* -------------------------------------------------------------------------
WORK ICONS*/

.soft {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
  color:rgb(247, 243, 238, .95);
  text-align: center;
}

.skills-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-height: 12vh;
  margin: 10px 0 -15px 29px;
  display: flex;
  flex-direction: column;
  color: #525252;
}

.skills-text p {
  font-size: 1.8vh;
}

.toolbox {
  padding-top: 10vh;
  background-image: url("/./../assets/work-bg.png");
  background-size: cover;
  height: auto;
}

.toolbox .work-bg {
  z-index: -1;
  position: relative;
  display: flex;
  width: 140vw;
}

.toolbox .icon-container {
  margin-left: 17vw;
  padding-top: 3vh;
  max-width: 160vw;
  min-width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  flex-flow: row wrap;
  /* align-items: flex-end; */
}

.box-icon {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 150px;
  font-size: 4rem;
  color: #f7f3ee;
}

.box-icon p{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #525252;
  display: flex;
  margin-top: 17px;
}


@media (min-width: 700px) {
  .soft {
    margin-top: 70px;
    font-size: 2vh;
    font-weight: 500;
  }

  .skills-text {
    font-size: 2.3vh;
    margin-bottom: 4.6vh;
  }

  .skills-text h3 {
    margin-top: 1vh;
    font-size: 2.8vh;
  }
}







/* @media (min-width: 600px) {
  .icon-container .box-icon {
    max-width: 25%;
  }
}

@media (min-width: 1024px) {
  .icon-container .box-icon {
    max-width: 12.5%;
  }
} */





#responsive {
  top: -200px
  height: 28vh;
  max-width: 12vw;
}


/* ---------------------------------------------------
CONTACT PAGE */

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-top: 67px;
  max-width: 70vw;
  text-align: center;
  color: #f7f3ee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


#contact-subhead h4{
  font-size: 2.6vh;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.form-group label {
  color: #f7f3ee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#name, #email, #textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.btn-submit {
  background-color:#fc79ae;
  color:#f7f3ee;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: #f7f3ee 2px solid; 
  transition-duration: .4s;
}

.btn-submit:hover {
  background-color: #f8bbd3;
  color:#fd4d93;
}



.contact-body {
  background-color: #7159f9;
}

.contact-wrapper {
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #7159f9;
}


.contact-links {
  background-color: #7159f9;
  /* margin-left: 80px; */
  max-width: 60vw;
  max-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  
}


.contact-links i {
  padding: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20vh;
  font-size: 7vh;
  text-align: center;
  background-color: #7159f9;
  color: #FFFFFF;
  margin-left: 30px;
}

