
#hamburger-nav {
  width: 100%;
  background: #8c78ff;
}

#hamburger-links { display: flex; }
#hamburger-links a {
  flex-grow: 1;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  font-size: 1.8vh;
}

#hamburger-links a:hover { transform: scale(1.2); }

#hamburger-nav label, #hamburger { display: none; }

@media screen and (max-width: 768px){
  #hamburger-links a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #8c78ff;

  }

  #hamburger-nav label { 
    display: inline-block; 
    color: white;
    background: #8c78ff;
    font-style: normal;
    font-size: 1.7em;
    padding: 10px;
    width: 150vw;
  }

  #hamburger-links { display: none; }
  #hamburger-nav input:checked ~ #hamburger-links { display: block; }
}

/* hamburger from here "https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/" */

body {
  background-color: #f7f3ee;
  max-height: 830px;
  margin: 0 0 0 0;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

#dropdownMenuLink {
  background-color: transparent;
  outline: none;
  border: none;
  color: #7b64fc;
}

.dropdown-item {
  background-color: #8c78ff;
}

.dropdown-item:hover {
  background-color: #7b64fc;
  transform: none;
}


.home-elements {
  display: flex;
  position: relative;
  background-image: url("./../assets/smallblobs.png");
  background-size: cover;
  min-width: 101vw;
  width: 110vw;
  height: 100vh;
  opacity: 0.7;
}


#smol-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 245, 241, 0.948);
  min-height: 40vh;
  min-width: 48vw;
  width: min-content;
  border: 1.3vmin solid;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #8874f8, #e0c3ea, #ff9ec5, #ff65ac, #ff4a48, #ffa22c, #ff4a48, #ff65ac, #e0c3ea, #8874f8, #2abeb3, #8874f8) 1;
	animation: 10s rotate linear infinite;
}


@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* credit to: "https://codepen.io/bramus/pen/rNWByYz" */


.welcome {
  display: flex;
  top: -20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
}


#hand {
  display: flex;
  position: relative;
  max-height: 11vh;
}

#hand-div {
  display: flex;
  position: relative;
  max-height: 11vh;
  top: 6.1vh;
  left: 16vw;
}

#hi, #beryl {
  /* top: 10px; */
  display: flex;
  position: relative;
  /* font-size: 5vw !important; */
}


#three-items {
  display: flex;
  position: relative;
  top: -3.5vh;
  height: 25vh;
  max-height: 50vh;
}



#hi {
  position: relative;
  font-size: 6vw;
  font-family: 'DM Serif Display', serif;
  /* margin-bottom: 30px; */
  color: #664bff;
  text-align: left;
}

#hi-div {
  position: relative;
  display: flex;
  height: 5vh;
  top: 8.5vh;
  left: 15vw;
}

#beryl {
  position: relative;
  text-align: center;
  max-height: 10vh;
  font-size: 5.5vw;
  font-family: 'DM Serif Display', serif;
  color: #fc65a1;
  padding: 30px;
}

#beryl-div {
  display: flex;
  position: relative;
  height: 10vh;
  top: 14vh;
  right: 6.8vw;
}



#wave {
  position: relative;
  height: 6vh;
  width: 50vw;
  top: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 55vw;
}



@media screen and (max-width: 768px) {

  #hi, #beryl {
    top: 10px;
    position: relative;
  }

  #beryl {
    margin: 0 20px 0 20px;
  }

  #hi {
    position: relative;
    font-size: 8vw;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 30px;
    color: #664bff;
    text-align: left;
    padding-top: 20px;
  }
  

  #beryl {
    position: relative;
    font-size: 7vh;
    margin-top: -40px;
    text-align: center; 
    font-family: 'DM Serif Display', serif;
    color: #fc65a1;
    padding: 30px;
  }

  #beryl-div {
    display: flex;
    position: relative;
    width: 20vw;
    top: 14vh;
    left: -10.5vw;
  }


  #hi-div {
    position: relative;
    display: flex;
    height: 5vh;
    top: 2vh;
    left: 10vw;
  }

  #three-items {
    display: flex;
    position: relative;
    top: -4.5vh;
    height: 25vh;
    max-height: 50vh;
  }
  

  #hand {
    display: none;
  }

  #smol-div {
    top: -4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 246, 239, 0.948);
    height: 4vh;
    max-height: 15vh;
    max-width: 70vw;
    border: 2.6vmin solid;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), #8874f8, #e0c3ea, #ff9ec5, #ff65ac, #ff4a48, #ffa22c, #ff4a48, #ff65ac, #e0c3ea, #8874f8, #2abeb3, #8874f8) 1;
    animation: 10s rotate linear infinite;
  }

  #wave {
    display: none;
  }

}


/* @media (max-width: 586px) {

  #beryl {
    position: relative;
    font-size: 5vh;
    margin-top: -40px;
    text-align: center; 
    font-family: 'DM Serif Display', serif;
    color: #fc65a1;
    padding: 30px;
  }

  #beryl-div {
    display: flex;
    position: relative;
    top: 14vh;
    left: -16vw;
  }

} */



/* -------------------------------------------------- */
/* ABOUT ME */

.about-body {
  background-color: #f3b2b2;
}

.about-first {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}

.about-header {
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header h1 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  color: #ffffff;
  /* color: #ffffff; */
  display: flex;
  position: relative;
  font-size: 7.2vh;
  left: 18vw;
  top: 4vh;
  width: 90vw;
}

.about-header h2 {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 2.2vh;
  width: 75vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* left: 8vw; */
  top: 4.3vh;
  color:#066060;
  
}



.about {
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .about p {
  font-size: 2.5vh;
  margin-right: 9vw;
}

#headshot {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vw;
  left: -5vw;
  top: 5vh;
  margin-bottom: 5vh;
  object-fit: contain;
  border-radius: 120px;
  opacity: .92;
  border: rgb(250, 247, 243, .8) .6vw solid;
}


#bio {
  font-size: 3.5vw;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 87vw;
  text-align: center;
  padding: 20px;
  top: 20vh;
  color: #044949;
}



.about-me a {
  color:  #ffffff;
  text-decoration: none;
  /* font-weight: bold; */
}

.about-me a:hover {
  color: #fd96bf;
}

#beliefs {
  font-family: 'Montserrat', sans-serif;
  max-height: 40vh;
  position: relative;
  display: inline-block;
  font-size: 1.5vw;
  top: -8vh;
  left: 50vw;
  width: 40vw;
  right: 20px;
  font-weight: 500;
  color:#f7f3ee;
  border: .4vw solid #2850f1;
  background: #82b4ff;
}

#beliefs h7 {
  margin: 2.7vw;
  font-weight: 600;
}


.about-second {
  max-height: 10vh;
}

.section-2-bg {
  display: none;
}

@media (min-width: 768px) {
  .about-second {
    height: 20vh;
  }
  
  .section-2-bg {
    display: flex;
    position: relative;
    max-width: 100vw;
    left: 22vw;
    width: 75vw;
    top: -10vh;
  }
  



  .about-first {
    top: 3vh;
    position: relative;
    min-height: 100vh;
    padding: 20px;
  }

  .about {
    display: flex;
    min-width: 100vw;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    max-width: 90vw;
    }

  #headshot {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 32vw;
    top: 68px;
    left: 5vw;
    object-fit: contain;
    border-radius: 120px;
    }

      
  .about p {
    top: 9vh;
  }
  

  .about-header #meet {
    font-family: 'DM Serif Display', serif;
    color: #ffffff;
    display: flex;
    padding-left: 20px;
    position: relative;
    left: 30px;
    font-size: 8vw;
    top: 30px;
    }

  .about-header h2 {
    text-align: left;
    position: relative;
    display: flex;
    padding-right: 60px; 
    padding-left: 20px; 
    font-size: 2.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-weight: 00;
    left: 30px;
    top: 30px;
    color: #096464;
    }

  

  #bio {
      position: relative;
      font-size: 1.7vw;
      font-weight: 500;
      text-align: left;
      display: inline-block;
      width: 50vw;
      top: 5vh;
      margin-left: 8vw;
    }
  }


/* -------------------------------------------------------------------
WORK  */

#card-container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  margin-bottom: 6vh;
  border: rgba(151, 69, 63, 0.6) 3px solid 
}

.card-body {
  background-color: #f8f5f3;
}

.card-title {
  color: #00473e;
  text-align: center;
  font-family: 'Coiny', cursive;

}
.card-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.btn-primary {
  background-color: #f86e64;
  transform: translateX(50%);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #c2c2c2;
  transition-duration: .4s;
}

.btn-primary:hover {
  background-color: #f79b95;
  color: #702721;
}

.btn-secondary {
  background-color: #faae2b;
  transform: translateX(50%);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #c2c2c2;
  transition-duration: .4s;
}

.btn-secondary:hover {
  background-color: #f5c572;
  color: #7c5002;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 6vh;
    border: rgba(151, 69, 63, 0.6) 3px solid 
  }

}



/* -------------------------------------------------------------------------
WORK ICONS*/

.soft {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
  color:rgba(253, 251, 248, 0.95);
  text-align: center;
}

.skills-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-height: 12vh;
  margin: 10px 0 -15px 29px;
  padding-right: 1.8vw;
  display: flex;
  flex-direction: column;
  color: #525252;
}

.skills-text p {
  
  font-size: 1.8vh;
}

.toolbox {
  padding-top: 10vh;
  background-image: url("/./../assets/work-bg.png");
  background-size: cover;
  height: auto;
}

.toolbox .work-bg {
  z-index: -1;
  position: relative;
  display: flex;
  width: 140vw;
}

.toolbox .icon-container {
  margin-left: 9vw;
  padding-top: 3vh;
  max-width: 160vw;
  min-width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  flex-flow: row wrap;
  /* align-items: flex-end; */
}

.box-icon {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 150px;
  font-size: 4rem;
  color: #f7f3ee;
}

.box-icon p{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #525252;
  display: flex;
  margin-top: 17px;
}


@media (min-width: 768px) {
  .soft {
    margin-top: 70px;
    font-size: 2vh;
    font-weight: 500;
  }

  .skills-text {
    font-size: 2.3vh;
    margin-bottom: 4.6vh;
  }

  .skills-text h3 {
    margin-top: 1vh;
    font-size: 2.8vh;
  }


  .toolbox .icon-container {
    margin-left: 10vw;
    padding-top: 7vh;
    max-width: 100vw;
    min-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    flex-flow: row wrap;
    /* align-items: flex-end; */
  }

  .box-icon p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vh;
    color: #525252;
    display: flex;
    margin-top: 17px;
  }

}



/* ---------------------------------------------------
CONTACT PAGE */


.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-top: 67px;
  max-width: 70vw;
  text-align: center;
  color: #f7f3ee;
  font-family: 'Montserrat', sans-serif;
}

/* #contact-subhead h4{
  font-size: 2.6vh;
  width: 65vw;
} */



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.form-group label {
  color: #f7f3ee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#name, #email, #textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.btn-submit {
  width: 50vw;
  height: 4vh;
  background-color:#88fce1;
  color:#684ff6;
  margin-top: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* border: #f7f3ee 2px solid;  */
  transition-duration: .2s;
}

.btn-submit:hover {
  /* background-color: #d0fdf2; */
  transform: scale(1.08);
  /* background-color: #dcbbf8; */
  /* color:#fd4d93; */
}



.contact-body {
  background-color: #7f69ff;
}

.contact-wrapper {
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #7f69ff;
}


.contact-links {
  background-color: #7f69ff;
  /* margin-left: 80px; */
  max-width: 60vw;
  max-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  
}



.contact-links i {
  padding: 0 5px 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20vh;
  font-size: 5vh;
  text-align: center;
  background-color: #7f69ff;
  color: #FFFFFF;
  margin-left: 30px;
}

.contact-links i:hover {
  /* color: #a1fde7; */
  transform: scale(1.09);
}

.contact-links a:hover {
  text-decoration: none;
}




@media (min-width: 768px) {

  .contact h2 {
    font-weight: 600;
  }

  .contact h4{
    margin-top: 67px;
    max-width: 70vw;
    text-align: center;
    color: #f7f3ee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .contact-links {
    background-color: #7f69ff;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    
  }
  
  
  .contact-links i {
    padding: 0 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    text-align: center;
    background-color: #7f69ff;
    color: #FFFFFF;
    margin-left: 30px;
  }



  .contact-wrapper {
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #7f69ff;

  }
} 

